@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  background-color: transparent;
  cursor: none;
}

* { box-sizing: border-box; }

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;

  @apply text-white;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

.cta-wrapper {
  @apply relative z-20 cursor-pointer;
}

.cta-button {
  @apply px-4 py-4 rounded-lg bg-black-200 flex justify-center items-center relative cursor-pointer overflow-hidden;

  .bg-circle {
    @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
      w-[120%] h-[120%] group-hover:size-10 group-hover:right-10
      rounded-full bg-white-50 transition-all duration-500;
  }

  .text {
    @apply uppercase md:text-lg text-black transition-all duration-500
      group-hover:text-white-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
  }

  .arrow-wrapper {
    @apply group-hover:bg-white-50 size-10 rounded-full absolute right-10 top-1/2 
      -translate-y-1/2 flex justify-center items-center overflow-hidden;

    img {
      @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
    }
  }
}