@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  background-color: transparent;
  cursor: none;
}

canvas {
  @apply pointer-events-auto;
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

html,
body {
  width: 100dvw;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  overflow-x: hidden;
  @apply text-white;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-primary: oklch(70.4% 0.14 182.503);
  --color-secondary: oklch(55.4% 0.046 257.417);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

.cta-wrapper {
  @apply relative cursor-pointer w-full;
}

.cta-button {
  @apply px-4 py-4 rounded-lg bg-slate-800 flex justify-center items-center relative cursor-pointer overflow-hidden;

  .bg-circle {
    @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
      w-[120%] h-[120%] rounded-full bg-primary transition-all duration-500;

    @apply md:group-hover:size-10 md:group-hover:right-10;
  }

  .text {
    @apply uppercase md:text-lg text-black transition-all duration-500
      -translate-x-5 xl:translate-x-0;

    @apply md:group-hover:text-primary md:group-hover:-translate-x-5;
  }

  .arrow-wrapper {
    @apply size-10 rounded-full absolute right-10 top-1/2 
      -translate-y-1/2 flex justify-center items-center overflow-hidden transition-all duration-500;

    @apply md:group-hover:bg-primary;

    img {
      @apply size-5 translate-y-0 transition-all duration-500
        xl:-translate-y-32;

      @apply md:animate-bounce md:group-hover:translate-y-0;
    }
  }
}
